.card{
    position: absolute;
    right: 100%;
    visibility: hidden;
    background-color: var(--black-color);
    transition: all linear 0.2s;
    top: calc(100% + 50px);
    opacity: 0;
}

.cardActived{
    opacity: 1;
    visibility: visible;
    top: calc(100%);
}
@media screen and (max-width: 768px) {
    .cardActived{
        top: 0;
    }
    .card div{
        right: -3px;
        top: 0;
    }
}